
@import reset
@import _index
@import _page


// @import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css)

body
	background: #FFF
	font-family: 'Noto Sans', sans-serif, Microsoft JhengHei
	-webkit-font-smoothing: antialiased
	overflow-x: hidden
	line-height: 1.5
a
	color: #888
.clear
	clear: both
.clearfix:before,.clearfix:after
	content: ""
	display: table
.clearfix:after
	clear: both
.clearfix
	zoom: 1 /* ie 6/7 */





.header_wrapper
	background: url('../img/mg-5543-2.jpg')
	background-repeat: no-repeat
	background-size: cover
	width: 100%
	height: 800px

	

header
	+susy-breakpoint($breakpoint_pad, $pad)
		+container
		


	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		height: 90px
		padding-left: 30px
		display: flex
		justify-content: flex-end
		align-items: center
	
.header_body
	+susy-breakpoint($breakpoint_pad, $pad)
		+container
		


	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		width: 100%
		height: 500px
		background: #289
		display: flex
		flex-direction: column
		justify-content: flex-end
		align-items: center
		.logo
			width: 500px
			right: 0
			bottom: 158px
			display: flex
			justify-content: flex-start
			align-items: center
			img
				width: 100%
				display: block
				margin-right: 15px



		.login_section_mobile
			display: none

		.login_section
			width: 150px
			height: 110px
			display: flex
			justify-content: center
			align-items: center
			.icon
				width: 30px
				height: 30px
				border-radius: 50%
				background: #FFF
				margin-right: 12px
				cursor: pointer
				display: flex
				justify-content: center
				align-items: center
				i
					font-size: 18px
					color: #000

			.logout
				color: #FFF
			.login
				color: #FFF
		.hamburg
			display: none
		.aside
			display: none






.menu_wrapper
	background: #fcfcfc
	border-bottom: 5px solid #ebebeb
	width: 100%
	.submenu
		position: absolute
		width: 100%
		height: 0px
		background: #22b1bf
		transition: all .2s

.submenu-open
	height: 50px !important

.deskmenu
	+susy-breakpoint($breakpoint_pad, $w_pad)
		+container
		display: none

	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		width: 900px
		height: 50px
		// background-color: #eee
		z-index: 1000
		right: 40px
		top: 10px
		display: flex
		flex-direction: row
		justify-content: flex-end
		align-items: center
		ul
			display: flex
			flex-direction: row
			justify-content: flex-end
			align-items: center
			li
				position: relative
				display: flex
				flex-direction: column
				justify-content: flex-end
				align-items: center
				transition: all .3s
				a
					display: block
					height: 40px
					color: #000
					padding: 0 22px
					font-size: 14px
					font-weight: 700
					display: flex
					flex-direction: row
					justify-content: flex-end
					align-items: center
					transition: all .3s
				
				&:hover
					a
						color: #7ED321


				



.hamburg-open
	right: 0% !important
	transform: rotate(0deg) translate3d(0px, 0px, 0px)


.hamburg
	.aaa, .bbb, .ccc
		display: block
		width: 80%
		margin: 0 auto
		height: 4px
		background: $green
		margin-bottom: 5px
		margin-top: 5px
		transition: all .5s ease
		transform: rotate(0deg) translate3d(0px, 0px, 0px)


.cross
	.aaa
		display: block
		width: 80%
		margin: 0 auto
		height: 5px
		background: #eee
		margin-bottom: 6px
		margin-top: 6px
		transition: all .3s ease
		transform: rotate(405deg) translate3d(8px, 8px, 0px)
	.bbb
		display: block
		width: 80%
		margin: 0 auto
		height: 5px
		background: #eee
		margin-bottom: 6px
		margin-top: 6px
		transition(all .2s ease)
		transform: rotate(0deg) translate3d(0px, 0px, 0px)
		opacity: 0

	.ccc
		display: block
		width: 80%
		margin: 0 auto
		height: 5px
		background: #eee
		margin-bottom: 6px
		margin-top: 6px
		transition: all .3s ease
		transform: rotate(-405deg) translate3d(8px, -8px, 0px)




.second-open
	right: 0% !important
	transition: all .5s ease




.footer_wrapper
	width: 100%
	background: #222
	background-size: cover
	padding: 20px 0
	margin-top: 50px



footer
	+susy-breakpoint($breakpoint_pad, $pad)
		+container
		padding: 0 20px
		.footer_link
			margin-bottom: 20px
			a
				margin-right: 35px
				color: #C9FFB0
				font-size: 16px

		.copyright
			padding: 10px 0
			p
				color: #C9C9C9
				font-size: 14px
				line-height: 1.5
				margin-bottom: 3px
				text-align: center
				




	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		.footer_link
			margin-bottom: 20px
			a
				margin-right: 35px
				color: #C9FFB0
				font-size: 16px



		.copyright
			padding: 10px 0
			p
				color: #C9C9C9
				font-size: 14px
				line-height: 1.5
				margin-bottom: 3px
				text-align: center
				







.mtvh
	margin-top: 60vh !important

