{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


{% include '_template/_partial/top_menu_bk-bg.twig' %}

<div class="about">
	<div class="anchor_menu">
		<div class="anchor_menu_item">WHAT WE DO</div>
		<div class="anchor_menu_item">MEMBER</div>
	</div>

	<div class="about_description">
		<img src="img/our_company.svg" alt="">

		<div class="brand_concept">
			
			<h5>WHAT WE DO</h5>
			<h6>品牌理念</h6>

			<img src="img/y-slash-big.png" alt="">

			<p style="color: #FFF">《史記‧貨殖列傳》：范蠡三徙，成名於天下，非苟去而已，所止必成名。</p>
			<p>何謂凡止，何來凡止。竊師其行，效其風，公司遂名凡止，冀寓凡止必留名爾爾。做設計有文化，做企劃有市場，做創意重執行。
			我們對每一件設計作品要求極高，追求深度及完美並臻的境界，獲得不同領域企業客戶的尊重、信任與長期合作。美之於作品，美之於生活，都是我們信仰並堅持的理念。</p>
		</div>
	</div>



	<div class="members">
		<h5>WHAT WE DO</h5>
		<h6>品牌理念</h6>
		
		<div class="y-slash"></div>


		<div class="chief_members">
			<div class="chief_person-left">
				<div class="chief_person-des">
					<h5>執行長</h5>
					<h6>范雅鈞</h6>
					<div class="t-line"></div>
					<p>靈活運用歷史學術專業與流暢優美文采，創意無窮、文案精準，矢志為台灣貢獻所學。</p>
					<div class="cheif_sign">
						<img src="img/sign_bk.svg" alt="">
					</div>
				</div>
				<div class="chief_person-img">
					<img src="img/a04.jpg" alt="">
				</div>

			</div>

			<div class="chief_person-right">
				<div class="chief_person-img">
					<img src="img/a04.jpg" alt="">
				</div>

				<div class="chief_person-des">
					<h5>設計總監</h5>
					<h6>徐  璽</h6>
					<div class="t-line"></div>
					<p>從容悠遊於不同素材與質感之間，精緻巧思漫開形體線條之內，設計作品洋溢著豐富文人美學。</p>
					<div class="cheif_sign">
						<img src="img/sign_bk.svg" alt="">
					</div>
				</div>
			</div>



		</div>
		<div class="our_members">
			<div class="to_flex">
				<div class="our_members_item">
					<img src="img/a04.jpg" alt="">
					<div class="mask">
						<p>平面設計師</p>
						<h6>王大明</h6>	
					</div>
				</div>
				<div class="our_members_item">
					<img src="img/a04.jpg" alt="">
					<div class="mask">
						<p>平面設計師</p>
						<h6>王大明</h6>	
					</div>
				</div>
				<div class="our_members_item">
					<img src="img/a04.jpg" alt="">
					<div class="mask">
						<p>平面設計師</p>
						<h6>王大明</h6>	
					</div>
				</div>
				<div class="our_members_item">
					<img src="img/a04.jpg" alt="">
					<div class="mask">
						<p>平面設計師</p>
						<h6>王大明</h6>	
					</div>
				</div>
			</div>

			<div class="clear"></div>

			<div class="to_flex">
				<div class="our_members_item">
					<img src="img/a04.jpg" alt="">
					<div class="mask">
						<p>平面設計師</p>
						<h6>王大明</h6>	
					</div>
				</div>
				<div class="our_members_item">
					<img src="img/a04.jpg" alt="">
					<div class="mask">
						<p>平面設計師</p>
						<h6>王大明</h6>	
					</div>
				</div>
				<div class="our_members_item">
					<img src="img/a04.jpg" alt="">
					<div class="mask">
						<p>平面設計師</p>
						<h6>王大明</h6>	
					</div>
				</div>
				<div class="our_members_item">
					<img src="img/a04.jpg" alt="">
					<div class="mask">
						<p>平面設計師</p>
						<h6>王大明</h6>	
					</div>
				</div>
			</div>


		</div>

		


	</div>






</div>




	




{% endblock %}x