{# index.twig #}
{% extends "/_template/layout_white.twig" %}
{% block page %}



	
<div class="contact_us">
	<h3>CONTECT US</h3>
	<h2>聯絡我們</h2>

	<div class="slash-y"><img src="img/y-slash-big.png" alt=""></div>
	<div class="contact_info_bg">
		<div class="contact_info">
			<div class="info_row">
				<p class="mr-30">Tel</p>
				<p>02-27550560  02-27550561</p>
			</div>

			<div class="info_row">
				<p class="mr-30">Fax</p>
				<p>02-27550562</p>
			</div>
			<div class="info_row">
				<p class="mr-30">Mail</p>
				<p>fanhsu300@gmail.com</p>
			</div>
			<div class="info_row">
				<p>10653 台北市大安區仁愛路三段28號9樓之二</p>
			</div>

			<div class="map">
				<img src="img/map.png" alt="">
			</div>
		</div>
	</div>


</div>





















{% endblock %}x