{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="header_wrapper">
	<!-- <header>
		<div class="deskmenu">
			<ul>
				<li><a href="">關於凡止</a> </li>
				<li><a href="">設計作品</a></li>
				<li><a href="">聯絡我們</a></li>
				<li><a href="" class=""><i class="fab fa-facebook-f"></i></a></li>
			</ul>
		</div>

		<div class="hamburg">
			<span class="aaa"></span>
			<span class="bbb"></span>
			<span class="ccc"></span>
		</div>

		<div class="aside">
			<ul>
				<li><a href="" class="m-first">HOME</a></li>
				<li><a href="" class="m-first">PRODUCTS</a></li>
				<li><a href="" class="m-first">ABOUT US</a></li>
				<li><a href="" class="m-first">CONTACT US</a></li>
				<li><a href="" class="m-first"><i class="fas fa-search"></i></a></li>
				<li><a href="" class="m-first"><i class="far fa-envelope"></i></a></li>
			</ul>
		</div>
	</header> -->

	

	<div class="header_body">
		<div class="this_wrapper">
			<div class="aside_menu"></div>
			<div class="logo"><img src="img/logo.png" alt=""></div>
		</div>
	</div>


</div>



	


<div class="inex_des">

	<a href="" class="link_style">
		<div class="inex_des_block">
			<img src="img/index_des_01.jpg" alt="">
			<div class="index_des_mask">
				<h6>視覺設計</h6>
				<p>如果沒有視覺，只有一片黑暗。視覺設計就該呈現美，以及美所代表的一切。</p>
				<i class="fas fa-long-arrow-alt-right"></i>
			</div>
		</div>
	</a>
	
	<a href="" class="link_style">
		<div class="inex_des_block">
			<img src="img/index_des_01.jpg" alt="">
			<div class="index_des_mask">
				<h6>視覺設計</h6>
				<p>如果沒有視覺，只有一片黑暗。視覺設計就該呈現美，以及美所代表的一切。</p>
				<i class="fas fa-long-arrow-alt-right"></i>
			</div>
		</div>
	</a>
	
	<a href="" class="link_style">
		<div class="inex_des_block">
			<img src="img/index_des_01.jpg" alt="">
			<div class="index_des_mask">
				<h6>視覺設計</h6>
				<p>如果沒有視覺，只有一片黑暗。視覺設計就該呈現美，以及美所代表的一切。</p>
				<i class="fas fa-long-arrow-alt-right"></i>
			</div>
		</div>
	</a>

	<a href="" class="link_style">
		<div class="inex_des_block">
			<img src="img/index_des_01.jpg" alt="">
			<div class="index_des_mask">
				<h6>視覺設計</h6>
				<p>如果沒有視覺，只有一片黑暗。視覺設計就該呈現美，以及美所代表的一切。</p>
				<i class="fas fa-long-arrow-alt-right"></i>
			</div>
		</div>
	</a>
	
	<a href="" class="link_style">
		<div class="inex_des_block">
			<img src="img/index_des_01.jpg" alt="">
			<div class="index_des_mask">
				<h6>視覺設計</h6>
				<p>如果沒有視覺，只有一片黑暗。視覺設計就該呈現美，以及美所代表的一切。</p>
				<i class="fas fa-long-arrow-alt-right"></i>
			</div>
		</div>
	</a>
	
	<a href="" class="link_style">
		<div class="inex_des_block">
			<img src="img/index_des_01.jpg" alt="">
			<div class="index_des_mask">
				<h6>視覺設計</h6>
				<p>如果沒有視覺，只有一片黑暗。視覺設計就該呈現美，以及美所代表的一切。</p>
				<i class="fas fa-long-arrow-alt-right"></i>
			</div>
		</div>
	</a>
	
</div>


<div class="director_info">

	<!-- director_person -->
	<div class="director_person">
		<div class="director_intro">
			<div class="header_img"></div>
			<div class="header_des">
				<p>執行長</p>	
				<h6>范雅鈞</h6>
			</div>
		</div>

		<div class="director_des">
			靈活運用歷史學術專業與流暢優美文采，創意無窮、文案精準，矢志為台灣貢獻所學。
			<img src="img/quote.png" alt="">
		</div>
		
		<div class="sign">
			<img src="img/sign_01.png" alt="">
		</div>
	</div>


	<!-- cross -->
	<div class="cross">
		<img src="img/cross.png" alt="">
	</div>



	<!-- director_person -->
	<div class="director_person">
		<div class="director_intro">
			<div class="header_img"></div>
			<div class="header_des">
				<p>設計總監</p>	
				<h6>徐  璽</h6>
			</div>
		</div>

		<div class="director_des">
			從容悠遊於不同素材與質感之間，精緻巧思漫開形體線條之內，設計作品洋溢著豐富文人美學。
			<img src="img/quote.png" alt="">
		</div>
		
		<div class="sign">
			<img src="img/sign_01.png" alt="">
		</div>
	</div>





</div>

















{% endblock %}x