{# index.twig #}
{% extends "/_template/layout_white.twig" %}
{% block page %}


{% include '_template/_partial/top_menu_wh-bg.twig' %}

<script>
$(document).ready(function(){
	$.getJSON("../_data/_package.json", function(data){

		 var strUrl = location.search;
 		 if (strUrl.indexOf("?") != -1) {

		    var getSearch = strUrl.split("=");
		    var thispage = getSearch[1]	
		    // console.log(thispage)
		    // link = 'data.' + thispage + '[0].photo_1'
		   	// console.log(typeof(link))
		}


		var _data = data

		// console.log(_data)
		let imgLink_1 = _data[thispage][0].photo_1
		let imgLink_2 = _data[thispage][0].photo_2
		let imgLink_3 = _data[thispage][0].photo_3
		let imgLink_4 = _data[thispage][0].photo_4
		let imgLink_5 = _data[thispage][0].photo_5

		let _title = _data[thispage][0].thistitle
		let _intro = _data[thispage][0].intro
		let _description = _data[thispage][0].description

		// console.log(_title)


		var photo_1 = document.createElement("IMG");
	     photo_1.setAttribute("src", imgLink_1);
	     $('.img-box-1').html(photo_1);	


		var photo_2 = document.createElement("IMG");
	     photo_2.setAttribute("src", imgLink_2);
	     $('.img-box-2').html(photo_2);	

		var photo_3 = document.createElement("IMG");
	     photo_3.setAttribute("src", imgLink_3);
	     $('.img-box-3').html(photo_3);	

		var photo_4 = document.createElement("IMG");
	     photo_4.setAttribute("src", imgLink_4);
	     $('.img-box-4').html(photo_4);			

	     var photo_5 = document.createElement("IMG");
	     photo_5.setAttribute("src", imgLink_5);
	     $('.img-box-5').html(photo_5);	


	    $('.layout_a_description > h4').html(_title);	
	    $('.layout_a_description > h6').html(_intro);	
	    $('.layout_a_description > p').html(_description);	

  });


});

</script>


	
<div class="portfolio_layout_module">


	<div class="grid-container">

		<div class="item_col-12"><div class="img-box-1"></div></div>

		<div class="item_col-3"><div class="img-box-2"></div></div>
		<div class="item_col-3"><div class="img-box-3"></div></div>
		<div class="item_col-3"><div class="img-box-4"></div></div>
		<div class="item_col-3"><div class="img-box-5"></div></div>
	</div>



	<div class="layout_a_description_bg">
		<div class="layout_a_description">
			<h4>野蜂逐花  蜂蜜禮盒</h4>
			<div class="d-line"></div>
			<h6>禮盒正面飛揚的雙重錯位雙色燙金，以野蜂飛行的8字形路徑創意發想，營造出如同花粉散落紛飛的視覺變化。盒圓形孔洞模仿野蜂在外採蜜後進入蜂箱的通道，蜂蜜禮盒彷彿真正蜂箱，打開便是新鮮蜂蜜。</h6>

			<p>台灣東北角風景宜人，海岸線變化萬千，遠近山層疊如畫。昔日繁華隨礦而竭，農工百業日趨沈寂，或許少了人聲擾嚷，卻多了野蜂嗡嗡。無農藥化肥、無工業污染的自然環境，四季森林百花開，六月紅淡花飄香，野蜂樂居逐花忙，或許繁華起落有時，欣見萬物生生不息。野蜂靠老天爺吃飯，繁花盛開，才有蜜源；氣候正常，才能繁衍，滴滴野蜂蜜都珍貴。</p>
			<p>盒形體利用蜂箱概念發想，盒圓形孔洞的地方是野蜂在外採蜜後進入蜂箱的通道。盒形上飛揚的雙重錯位雙色燙金，是以野蜂飛行的8字形路徑創意發想，營造出如同花粉散落紛飛的視覺變化，蜂蜜禮盒彷彿真正蜂箱，打開便是新鮮蜂蜜。</p>
			<p>盒型結構在內底座及口型框架的左右兩邊埋設磁鐵， 一來盒型結構穩固，二來保護珍貴的野蜂蜜玻璃罐，方便觀賞及收藏。緞帶提繩設計併入禮盒之內，外觀設計完整，省下額外紙袋費用。</p>
			<p>禮盒紙質為精緻的權草金碧紙，更顯高雅內斂，襯托出野蜂蜜的珍貴，也傳達蜂農希望收到此份禮物的人，能透過細膩的包裝設計而感受到餽贈者的滿滿心意，瞭解野蜂蜜的稀有珍貴。</p>

			<a href="works.html" class="goback">BACK</a>
		</div>
	</div>


</div>





















{% endblock %}x