{# index.twig #}
{% extends "/_template/layout_white.twig" %}
{% block page %}



<div class="works_fun_section">
	<div class="woks_filter">
		<div class="works_menu">
			<ul>
				<li><a href="">All</a></li>
				<li><a href="">平面</a></li>
				<li><a href="">包裝</a></li>
				<li><a href="">展示</a></li>
				<li><a href="">活動</a></li>
			</ul>

		</div>
		<div class="works_search">
				<input type="text"  placeholder="請輸入關鍵字">
				<i class="fas fa-search"></i>
		</div>
	</div>

</div>	


<div class="works_list_section">
	
	<div class="works_list_wrapper">

		<div class="works_block">
			<div class="pic"><img src="img/works_a_01.jpg" alt=""></div>
		</div>

		<div class="works_block">
			<div class="pic"><img src="img/works_a_01.jpg" alt=""></div>
		</div>

		<div class="works_block">
			<div class="pic"><img src="img/works_a_01.jpg" alt=""></div>
		</div>
		<div class="works_block">
			<div class="pic"><img src="img/works_a_01.jpg" alt=""></div>
		</div>

		<div class="works_block">
			<div class="pic"><img src="img/works_a_01.jpg" alt=""></div>
		</div>

		<div class="works_block">
			<div class="pic"><img src="img/works_a_01.jpg" alt=""></div>
		</div>
		<div class="works_block">
			<div class="pic"><img src="img/works_a_01.jpg" alt=""></div>
		</div>

		<div class="works_block">
			<div class="pic"><img src="img/works_a_01.jpg" alt=""></div>
		</div>
	</div>





</div>











{% endblock %}x