<div class="inside_header_pos">
<div class="inside_header">
	<div class="for_flex">
		<div class="row-logo">
			<img src="img/w-logo.svg" alt="">
		</div>

		<div class="inside_menu_bk">
			<ul>
				<li><a href="">關於凡止</a></li>
				<li><a href="">設計作品</a></li>
				<li><a href="">聯絡我們</a></li>
				<div class="fb-btn"><a href=""><i class="fab fa-facebook-f"></i></a></div>
			</ul>
		</div>
	</div>
</div>
</div>